<h1>Home Page</h1>
<img src="https://prodcmsassets.blob.core.windows.net/media/Default/games/Games-Landing-395x542/optimized-images/gears4_large_opt-7b31920efee146258aa0b4e06f6b3632.jpg">

<a href="/about">Go to about page</a>